footer {
  box-sizing: border-box;
  height: 70px;
  margin-top: 70px;
  line-height: 50px;
  background-color: #30323f;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: right;
  padding: 10px 30px;
  color: lightgrey;
}
