<div class="course-container" appHighlight [date]="course.creationDate" [ngClass]="{'top-rated': course.isTopRated}">
  <div class="course">
    <div class="course-header">
      <div class="course-title">
        <h2>{{course.title | uppercase}}</h2>
        <fa-icon class="top-rated-star" [icon]="faStar" *ngIf="course.isTopRated"></fa-icon>
      </div>
      <div class="course-time-info">
        <fa-icon [icon]="faClock"></fa-icon>
        <span class="course-duration">{{course.duration | duration}}</span>
        <fa-icon [icon]="faCalendar"></fa-icon>
        <span class="course-creation-date">{{course.creationDate | date:'mediumDate'}}</span>
      </div>
    </div>
    <p>{{course.description}}</p>
  </div>
  <div>
    <button class="course-btn">
      <fa-icon [icon]="faPen" class="button-icon"></fa-icon>
      Edit
    </button>
    <button class="course-btn delete-btn" (click)="onDelete()">
      <fa-icon [icon]="faTrash" class="button-icon"></fa-icon>
      Delete
    </button>
  </div>
</div>
